
    <!-- <h1>Gimme Yo Money</h1> -->
  <div class = "gym-top-slider">
    <div class = "take-look">
      <button id= gym-button>TAKE A LOOK</button>
    </div>
  </div>


    <!-- <% if current_user %>
    <%= link_to 'Create Project', new_project_path %>
    <% else %>
    <%= link_to 'Create Project', login_path, alert: "Must Log in to Create a Project" %>

    <% end %> -->


  <div id="projects">
    <%= render @projects %>
  </div>

    <!-- <div class= "gym-projects">
      <div class= "project-1">
        <p>project 1</p>
      </div>
      <div class= "project-2">
        <p>project 2</p>
      </div>
      <div class= "project-3">
        <p>project 3</p>
      </div>
    </div> -->

<script type="text/javascript">
  function display_search_results() {
    if (this.readyState === 4) {
      console.log(this);
      document.getElementById('projects').innerHTML = this.responseText;
    }
  }

  var form = document.getElementById('search-form');
  form.addEventListener('submit', function(ev) {
    ev.preventDefault();
    var searchValue = document.getElementById('search').value;

    var xhr = new XMLHttpRequest();
    xhr.onload = display_search_results;
    xhr.open('GET', '/projects?search=' + searchValue, true);
    xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
    xhr.send();
  });
</script>
